<%= stylesheet_link_tag 'home.css' %>
<body class="m-2">
<h1>User Authentication</h1>
<div>
  <%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
</div>
<br>
<% if user_signed_in? %>
  <!--.has role? for using rolify-->
  <!--Are you admin? <%#= current_user.has_role? :admin %>-->
  <%#= current_user.roles.pluck(:name) %>


  Are you admin? <%= current_user.admin? %>
  <%= current_user.roles.pluck(:name) %>
  <div>
    Welcome <strong><%= current_user.name %></strong>
  </div>

  <div>
    You are Logged in as <strong><%= current_user.email %></strong>.
  </div>
  <br>
  <div>
    <%= link_to 'Edit profile', edit_user_registration_path, class: "navbar-link" %>
  </div>
  <br>
  <div>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link btn btn-danger" %>
  </div>
  <br>
<%# else %>
  <!--  <%#= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |-->
  <%#= link_to "Login", new_user_session_path, class: "navbar-link"  %>
<% end %>
<div>
  <%= link_to 'Show Users', users_path, class: "navbar-link btn btn-secondary" %>
</div>
</body>

